#game-board{
    position: relative;
    margin-top: 50px;
}
.cell{
    border: solid 1px blue;
    text-align: center;
    font-size:20pt;
    cursor: pointer;
    color: red;
    position: absolute;
    width:40px; 
    height:40px;
    line-height: 40px;
}